body{padding:0 0 20px 0}
a:hover{text-decoration: none;}
textarea{resize:vertical;}
.nav{margin-top:20px;}
.brand{position:relative; padding:20px; padding-left:194px; border:1px solid #EEEEEE; border-width:1px 0;}
.brand .logo{position: absolute; top:-15px; left:15px}
header{ margin:0 0 20px 0; padding:10px 0; }

.hero-unit{box-shadow:4px 4px 4px #DFDFDF;}

.post,  .module{
    border:1px solid transparent;
    margin:0 0 3em 0;
    padding:0 1em 1em;
    position:relative;
    
}

.posts  .post:hover, .module{
    box-shadow:4px 4px 4px #DFDFDF;
    background-color:#fff;
    border:1px solid #efefef;
}

.post h2 a{display:block;}
.read-more span, .post h2 span{visibility: hidden; }
.read-more:hover span, .post h2 a:hover span{visibility: visible;}
.post h2 span i{vertical-align: middle; }

.post-content{padding:0 0 2em;}

.post .admin-controls{position:absolute; top:28px; right:28px; display:inline-block; visibility: hidden;}
.post:hover .admin-controls{visibility: visible}